@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: goldenrod;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('covers/11.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.progress-bar {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: lightgray;
    z-index: 1; /* Add z-index to ensure the progress bar is behind the song info */
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%; /* Adjust the width based on the progress */
    background-color: purple;
    z-index: 1; /* Add z-index to match the progress bar */
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: purple;
    color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease;
    z-index: 2; /* Add z-index to ensure the song info is on top */
}


.bottom:hover {
    background-color: yellowgreen;
    color: purple;
    height: 80px;
}

.play-button {
    margin-right: 10px;
}

.song-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-name {
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-artist {
    font-size: 12px;
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}



.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: purple;
    
    color: yellowgreen;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }